= form_for @changeset, @action, fn f ->
  = if @changeset.action do
    .alert.alert-danger
      p Oops, something went wrong! Please check the errors below.
  .form-group
    = label f, :name, class: "control-label"
    = text_input f, :name, class: "form-control"
    = error_tag f, :name
  .form-group
    = label f, :email, class: "control-label"
    = text_input f, :email, class: "form-control"
    = error_tag f, :email
  .form-group
    = label f, :team_name, class: "control-label"
    = text_input f, :team_name, class: "form-control"
    = error_tag f, :team_name
  .form-group
    = submit gettext("Submit"), class: "btn btn-primary"
