h2= gettext("Listing owners")

table.table
  thead
    tr
      th= gettext("Name")
      th= gettext("Email")
      th= gettext("Team name")
      th
  tbody
    = for owner <- @owners do
      tr
        td= owner.name
        td= owner.email
        td= owner.team_name
        td class="text-right"
          = link gettext("Show"), to: owner_path(@conn, :show, owner), class: "btn btn-default btn-xs"
          | &nbsp;
          = link gettext("Edit"), to: owner_path(@conn, :edit, owner), class: "btn btn-default btn-xs"

= link gettext("New owner"), to: owner_path(@conn, :new)
