h2= gettext("Show owner")

ul
  li
    strong
      = gettext("Name")
    = @owner.name
  li
    strong
      = gettext("Email")
    = @owner.email
  li
    strong
      = gettext("Team Name")
    = @owner.team_name

= link gettext("Edit"), to: owner_path(@conn, :edit, @owner)
| &nbsp;
= link gettext("Back"), to: owner_path(@conn, :index)
