h2= gettext("League Standings")

table.table
  thead
    tr
      th= gettext("Place")
      th= gettext("Team")
      th= gettext("Points")
  tbody
    tr
      td 1
      td Balacobaco
      td 9
    tr
      td 2
      td Balacobaco
      td 6
    tr
      td 3
      td Balacobaco
      td 3

= link gettext("New owner"), to: owner_path(@conn, :new)
